.toast {
    width: 325px;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: unset;
    top: 15%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}
.toast--success {
    background-color: var(--color-positive);
}

.toast__message {
    color: var(--color-white);
}

.toast--warning {
    background-color: var(--color-negative);
}

.toast__message {
    color: var(--color-white);
}

.toast--danger {
    background-color: var(--color-positive);
}

.toast__message {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}